.page {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   background-color: var(--white);
}

.fullContainer {
   display: flex;
   width: 70%;
   justify-content: space-between;
   padding: 1em 0em 1em 1em;
}

.container {
   display: flex;
   flex-direction: column;
   margin: 2em 0em 0em 0em;
   flex: 3;
   min-width: 0;
}

.watermark {
   font-family: var(--font-pecita);
   font-size: 1em;
   color: blue;
   margin: 1.2em 0em 0em 0em;
}

.header {
   margin: 0em 0em 0em 0em;
}

.header h1 {
   font-family: var(--font-serif);
   margin: 0em 0em 0em 0em;
   font-weight: 400;
}

.content {
   margin: 1em 0em 0em 0em;
   flex-grow: 1;
   min-width: 100%;
}

.note {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   gap: 0em;
   margin: 0.3em 0em 0em 0em;
}

.note p {
   margin: 0em 0em 0em 0em;
   font-size: 1.5em !important;
}

.content p {
   font-family: var(--font-pecita);
   font-size: 2em;
}

.footer {
   margin: 2em 0em 0em 0em;
}

.footer a {
   font-family: var(--font-serif);
   color: black;
   text-decoration: none;
   font-size: 1.4em;
}

.line {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}

.info {
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: flex-end;
   justify-content: space-between;
   padding: 0em 1em 0em 0em;
}

.info button:hover {
   background-color: transparent;
}

.info button {
   padding: 0em;
}