/* src/app/components/RichTextEditor/RichTextEditor.module.css */

.editorWrapper {
    width: 100%;
    overflow-wrap: break-word;
}

.toolbar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #4a5568;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1em;
}

.toolbarButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
}

.toolbarButton:hover {
    background-color: #000000;
    color: white;
}

.isActive {
    background-color: #393c3f;
    color: white;
}

.separator {
    width: 1px;
    background-color: #4a5568;
    margin: 0 0.5rem;
    align-self: stretch;
}

.editorContent {
    padding: 0;
    min-height: 200px;
    font-family: var(--font-pecita);
    overflow: hidden;
    margin: 0;
    width: 100%;

}

.editorContent:focus {
    outline: none;
}
