.poemCard h3 {
   font-family: var(--font-serif);
   margin: 0em 0em 0.5em 0em;
   font-weight: 400;
   font-size: 1.56em;
}

.poemList {
   width: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.poemCard p {
   font-family: var(--font-pecita);
   margin: 0em 0em 0.2em 0em;
   font-size: 1.5em;
}

.poemCard {
   margin: 1em 0em 0em 0em;
   display: flex;
   flex-direction: column;
   min-width: 0;
   width: 100%;
   gap: 1em;
}

.poemCard a {
   text-decoration: none;
   color: black
}

